body {
    margin: 0
}

img { 
    max-width: 100%; 
    height: auto; 
}

.infoRow {
    padding-top: 2%;
    padding-bottom: .5%;
}

.infoTitle {
    font-weight: bold;
}

.mainContactDiv {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%
}

.contactContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%
}
